<!DOCTYPE html>
<html data-bs-theme="dark" ng-app="app">
  <head>
    <link
      href="bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="bootstrap-icons.min.css">
    <script src="angular.min.js"></script>
    <script src="bootstrap.bundle.min.js"></script>
    <link href="memory-viewer/memory-viewer.css" rel="stylesheet" />
    <link href="asm-viewer/asm-viewer.css" rel="stylesheet" />
    <link href="sprite-viewer/sprite-viewer.css" rel="stylesheet" />
    <script type="module" src="index.js"></script>
  </head>
  <body class="container-fluid p-3" ng-controller="RegController as $ctrl">
    <div class="row">
      <div class="col" id="header">
        <h1 align="left">Debugger</h1>
        Server:
        <input type="text" id="txtServer" value="ws://localhost:8080" />
        <input
          type="button"
          id="btConn"
          name="btConn"
          ng-value="$ctrl.btConnValue"
          ng-click="$ctrl.onConnectClick()"
        /><br /><br />
        Message:
        <input
          type="text"
          id="txtMsg"
          ng-model="$ctrl.userMessage"
          placeholder="Type your message (ENTER to send)"
        />
        <input
          type="button"
          ng-disabled="!$ctrl.userMessage"
          id="btMsg"
          name="btMsg"
          value="Send"
          ng-click="$ctrl.onSendClick()"
        />
        <input class="mb-3" type="button" value="Step" title="F10" onclick="ws.send('step')" />
        <input class="mb-3" type="button" value="Run" title="F5" onclick="ws.send('run')" />
        <asm-viewer regs="$ctrl.regs" asm="$ctrl.asm"></asm-viewer>
      </div>
      <div class="col reg-window">
        <register-viewer regs="$ctrl.regs" class="row"></register-viewer>
        <breakpoints></breakpoints>
        <memory-viewer memory="$ctrl.memory" address="$ctrl.address" class="font-monospace"></memory-viewer>
        <sprite-viewer vram="$ctrl.vram" cram="$ctrl.cram"></sprite-viewer>
      </div>
    </div>
  </body>
</html>
