.addr {
  color: #569cd6;
  /* Adds extra space for breakpoint glyph hover */
  margin-left: -16px;
  padding-left: 16px;
}

.bytes {
  display: inline-block;
  width: 250px;
}

.mnemonic {
  color: #dcdcaa;
  width: 90px;
  display: inline-block;
}

.op_str {
  color: #ce9178;
  width: 220px;
  display: inline-flex;
  white-space: nowrap;
}

.disasm-window {
  width: 100%;
  /* 68px for controls, 48 for h1 and rems are for margins/padding */
  height: calc(100vh - 68px - 48px - 3.5rem);
  font-family: Menlo, Monaco, "Courier New", monospace;
}

.debug-line {
  position: relative;
  height: 20px;
  background-color: rgba(255, 255, 0, 0.2);
}

.code-row {
  position: absolute;
  width: -webkit-fill-available;
}

.asm-tooltip {
  white-space: pre;
}

.asm-tooltip .tooltip-inner {
  text-align: left;
  max-width: fit-content;
}

.code-listing {
  position: relative;
  /* Leave some space for branch line */
  padding-left: 16px;
}

.branch-line {
  width: 6px;
  position: absolute;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  border-left: 1px solid white;
}

.code-overlay {
  z-index: -1;
}

.comment {
  color: #6a9955;
  display: inline-flex;
  white-space: pre;
}

.breakpoint-glyph {
  width: 10px;
  height: 10px;
  border-radius:50%;
  background-color: red;
  margin-top: 7px;
  margin-left: 2px;
  position: absolute;
  cursor: pointer;
}

/* breakpoint-glyph ghost icon when hovering gutter */
span.addr:hover::before {
  content: '';
  width: 10px;
  display: inline-block;
  background-color: rgba(255, 0, 0, 0.5);
  height: 10px;
  border-radius: 50%;
  position: absolute;
  left: -14px;
  top: 7px;
  cursor: pointer;
}