<div
  style="
    border: 1px solid var(--bs-border-color);
    border-radius: var(--bs-border-radius);
    padding: 20px;
  "
>
  <div class="header" style="display: flex">
    Breakpoints
    <div class="buttons" style="margin-left: auto">
      <button class="btn btn-dark btn-sm" ng-click="$ctrl.onBptAdd()">
        <i class="bi bi-plus-lg"></i>
      </button>
    </div>
  </div>
  <table class="table" style="margin: 0">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col" style="width: 130px">Address</th>
        <th scope="col">Condition</th>
        <th scope="col" style="width: 240px">Comment</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="bpt in $ctrl.breakpoints track by $index">
        <td ng-if-start="bpt.edit">
          <input
            class="form-check-input"
            type="checkbox"
            ng-model="bpt.enabled"
            ng-change="$ctrl.onEnableChange($index)"
          />
        </td>
        <td>
          <input
            type="text"
            class="form-control form-control-sm"
            ng-model="bpt.address"
          />
        </td>
        <td>
          <div style="display: flex; margin-top: 3px">
            <div class="form-check form-check-inline">
              <input
                class="form-check-input"
                type="checkbox"
                id="inlineCheckbox1"
                ng-model="bpt.read"
              />
              <label class="form-check-label" for="inlineCheckbox1">Read</label>
            </div>
            <div class="form-check form-check-inline">
              <input
                class="form-check-input"
                type="checkbox"
                id="inlineCheckbox3"
                ng-model="bpt.write"
              />
              <label class="form-check-label" for="inlineCheckbox3"
                >Write</label
              >
            </div>
            <div class="form-check form-check-inline">
              <input
                class="form-check-input"
                type="checkbox"
                id="inlineCheckbox2"
                ng-model="bpt.execute"
              />
              <label class="form-check-label" for="inlineCheckbox2"
                >Execute</label
              >
            </div>
          </div>
        </td>
        <td>
          <input
            type="text"
            class="form-control form-control-sm"
            ng-model="bpt.comment"
          />
        </td>
        <td ng-if-end="bpt.edit">
          <button
            class="btn btn-sm btn-dark"
            style="margin-left: auto"
            ng-click="bpt.edit = true"
            ng-if="!bpt.edit"
          >
            <i class="bi bi-pencil"></i>
          </button>

          <button
            class="btn btn-sm btn-dark"
            style="margin-left: auto"
            ng-click="$ctrl.onBptSubmit(bpt, $index)"
            ng-if="bpt.edit"
          >
            <i class="bi bi-check-lg"></i>
          </button>

          <button
            class="btn btn-sm btn-dark"
            ng-click="$ctrl.onBptDelete($index)"
          >
            <i class="bi bi-x-lg"></i>
          </button>
        </td>

        <td ng-if-start="!bpt.edit">
          <input
            class="form-check-input"
            type="checkbox"
            ng-model="bpt.enabled"
            ng-change="$ctrl.onEnableChange($index)"
          />
        </td>
        <td>{{ bpt.address }}</td>
        <td>
          {{ bpt.read ? "Read" : "" }} {{ bpt.write ? "Write" : "" }}
          {{ bpt.execute ? "Execute" : "" }}
        </td>
        <td>{{ bpt.comment }}</td>
        <td ng-if-end="!bpt.edit">
          <div style="display: flex; align-items: center">
            <button
              class="btn btn-sm btn-dark"
              style="margin-left: auto"
              ng-click="bpt.edit = true"
            >
              <i class="bi bi-pencil"></i>
            </button>

            <button
              class="btn btn-sm btn-dark"
              ng-click="$ctrl.onBptDelete($index)"
            >
              <i class="bi bi-x-lg"></i>
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
